 mat-card {
    width: 100%;
    height: 100%;
    padding-top: 7vh;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    transition: none !important;
    box-shadow: none !important;
}

mat-card-title {
    color: black;
}

input {
    color: black;
}

.main-div{
    display: flex;
    height: 90vh;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    flex-direction: column;
}


.login-sub-footer {
    width: 100%;
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    justify-content: space-between!important;
    display: flex;
    align-items: center;
}

.no-account-text {
    font-size: 13px!important;
    white-space: pre-line;
    color: black;
}

.sign-up-text {
    font-size: 15px!important;
    white-space: nowrap;
    color: #7b1fa2
}
